<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-eqiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
     <title>Login Form</title>
     
     
     <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900&display=swap");
        *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins, sans-serif";
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background: url('https://w0.peakpx.com/wallpaper/977/391/HD-wallpaper-2019-bmw-3-series-headlight-car.jpg') no-repeat;
    background-size: cover;
    background-position: center;

}


.wrapper{
    width:420px;
    background:transparent;
    color: #fff;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2)
    
    border-radius:10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size:30px;
    color:#fff;
    text-align:center;
}

.wrapper.input-box{
    width:100%;
    height:50px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    color: #fff;
    margin:  15px;
}


.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border:none;
    outline:none;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight:600;
}

.wrapper .register-link{
    font-size:14.5px;
    color: #fff;
    text-align: center;
    margin:20px 0 15px;
}




     </style>
    


</head>

<body>
        

        <div class="wrapper">
                <h1>Registered</h1>
        </div>
</body>
</html>
